body{
    display: flex;
    justify-content: space-around;
    background-image: url(./Imagenes/nature-scene-with-igloo-ground_1308-29732.jpg);
    background-size: contain;
}

canvas{

    background-color: #68d8d6;
}

button{
    width:300px;
    height:100px;
}